body.arabic-mode .split-title-cell .title-line-bottom {
  display: none !important;
}

body.arabic-mode .split-title-cell {
  gap: 2mm !important;
}

body.arabic-mode .exam-header.three-cell-header {
  direction: ltr !important;
  display: grid !important;
  grid-template-columns: 1fr 1fr 1fr !important;
  background-image: linear-gradient(
    to right,
    transparent 0,
    transparent calc(33.333% - 1px),
    #111111 calc(33.333% - 1px),
    #111111 calc(33.333% + 1px),
    transparent calc(33.333% + 1px),
    transparent calc(66.666% - 1px),
    #111111 calc(66.666% - 1px),
    #111111 calc(66.666% + 1px),
    transparent calc(66.666% + 1px),
    transparent 100%
  ) !important;
  background-repeat: no-repeat !important;
}

body.arabic-mode .exam-header .header-cell {
  direction: rtl !important;
}

body.arabic-mode .left-header-cell {
  grid-column: 3 !important;
  order: 3 !important;
  border-left: 0 !important;
  border-right: 0 !important;
}

body.arabic-mode .middle-header-cell {
  grid-column: 2 !important;
  order: 2 !important;
  border-left: 0 !important;
  border-right: 0 !important;
}

body.arabic-mode .right-header-cell {
  grid-column: 1 !important;
  order: 1 !important;
  border-left: 0 !important;
  border-right: 0 !important;
}

body.arabic-mode .exam-header .title-line-top,
body.arabic-mode .exam-header .right-line-top,
body.arabic-mode .exam-header .inline-class-input {
  transform: translateY(1mm) !important;
}
