div[style*="min-height: 130px"] {
  font-size: 0 !important;
  color: transparent !important;
  line-height: 0 !important;
}

div[style*="min-height: 130px"] > span {
  font-size: 12px !important;
  color: #111827 !important;
  line-height: 1.1 !important;
}
